/*******register-button*************/
.register-button {
  text-align: center;
}
/***********************************/

/***************BORDER_REGISTER************************/
.Register-Border {
  border: 2px solid #00bcd4;
  width: 80%;
  margin: 70px auto;
  background-color: rgba(255,255,255,.7);
  padding: 20px;
  border-radius: 10px;
}
/***************BORDER_REGISTER************************/


/******************Responsive mobile********************/
@media screen and (max-width: 768px) {
  .container form {
     font-size: 100%;
  }

  h4 {
     font-size: 100%;
     line-height: 160%;
  }
}
/******************Responsive mobile********************/ 