.Create-Border {
    border: 2px solid #00bcd4;
    width: 70%;
    margin: 50px auto;
    background-color: rgba(255,255,255,.7);
    padding: 20px;
    border-radius: 5px;
  }


  .Create-Button {
      text-align: center;
      
  
   
    
      font-size: 135%;
      
     
      margin: 1rem;
      
 }


 
/******************Responsive mobile********************/
@media screen and (max-width: 768px) {
  .Create-Border form .Create-Button {
     font-size: 100%;
  }

  .Create-Border .Create-Button {
     font-size: 100%;
     line-height: 160%;
  }
}
/******************Responsive mobile********************/ 