.list-table {
    border:5px solid #42a5f5;  
    margin-top:10px;
    margin: 50px auto;
    width: 100%; 
    padding: 20px;
}

/******************Responsive mobile********************/
@media screen and (max-width: 768px) {
    .table tr {
       font-size: 100%;
    }
  
    .list-table tr {
       font-size: 100%;
       line-height: 160%;
    }
  }
  /******************Responsive mobile********************/ 