html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   
}

.intro {
   height: 92.99vh;
   width: 100%;
   margin: auto;
   background: url(../layout/main.jpg) no-repeat 50% 50%;
   display: table;
   top: 0;
   background-size: cover;
   background-position: center center;
   background-repeat:no-repeat;
   position: relative;
   -webkit-background-size: cover;

   
}

.intro .inner {
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   max-width: none;
}

.content {
   max-width: 500px;
   margin: 0 auto;
   text-align: center;
}

.content h1 {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #f9f9f9;
   text-shadow: 0px 0px 300px #000;
   font-size: 500%;
}

.landing {
   border-radius: 5px;
   font-family: 'Oswald', sans-serif;
   color: #036A81;
   font-size: 150%;
   padding: 20px 35px 20px;
   border: solid #036A81 3px;
   text-transform: uppercase;
   text-decoration: none;
   margin: 1rem;
}

.landing:hover {
   color: #fff;
   border: solid #fff 3px;
}

/******************Responsive mobile********************/
@media screen and (max-width: 768px) {
   .content h1 {
      font-size: 250%;
   }
   .landing{
      font-size: 100%;
      padding: 10px 10px;
   }
   p {
      font-size: 100%;
      line-height: 160%;
   }
}
/******************Responsive mobile********************/ 


/*================Footer=================*/
.footer {
   display: flex;
   min-height:  1vh;
   flex-direction: column;
 }

 .copyright-text p {
   margin: 0;
   font-size: 15px;
   color: #878787;
   text-align: center;
 }

 .copyright-text p a{
   color: #004ac0;
 }

 .copyright-area{
   background: #202020;
   padding: 25px 0;
 }

  
  
  



